.main {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-25deg);
  opacity: 0.8;

  /* добавляем анимацию */
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }

  50% {
    left: 150%;
  }

  100% {
    left: -100%;
    /* вернуться в начало */
  }
}
