:root {
  font-family: Roboto, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Убрать влияние пустых модалок */
.mantine-Modal-root {
  height: 0 !important;
  min-height: 0 !important;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}
body {
  overflow-x: hidden;
}

/* Для WebKit-браузеров */
::-webkit-scrollbar {
  width: 6px;
  /* тонкая ширина */
  height: 6px;
  /* для горизонтального скролла */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* прозрачный фон трека */
}

textarea {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0);
  /* темно-серый полупрозрачный */
  border-radius: 3px;
  /* закругленные края */
  border: 1px solid transparent;
  /* немного пространства внутри */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
  /* темнее при ховере */
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  /* тонкий скроллбар */
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
  /* цвет ползунка и трека */
}

::selection {
  background: rgba(59, 130, 246, 0.9);
  color: white;
}
